<div class="container">
  <div class="row">

    <p id="notice"><%= notice %></p>

    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <h5 class="col-md-10">Listagem de Tarefas</h5>
            <div class="col-md-2">
              <%= link_to 'Nova Tarefa', new_task_path, class: "btn btn-warning pull-right" %>
            </div>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Titulo</th>
              <th>Projeto</th>
              <th class="col-md-2"></th>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
            <tr>
              <td><%= task.id %></td>
              <td><%= task.title %></td>
              <td><%= task.project %></td>
              <td>
                <div class="btn-group pull-right">
                  <%= link_to task, class: "btn btn-info" do %><i class="glyphicon glyphicon-eye-open"></i><% end %>
                  <%= link_to edit_task_path(task), class: "btn btn-info" do %><i class="glyphicon glyphicon-edit"></i><% end %>
                  <%= link_to task, method: :delete, data: { confirm: 'Confirma exclusão ?' }, class: "btn btn-info" do %><i class="glyphicon glyphicon-trash"></i><% end %>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
