<div class="container">
  <div class="row">

    <!-- <p id="notice"><%= notice %></p> -->

    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <h5 class="col-md-10">Tarefa</h5>
            <div class="col-md-2">
              <%= link_to edit_task_path(@task), class: "btn btn-warning pull-right" do %>
              <b>Editar
                <i class="glyphicon glyphicon-edit"></i>
              </b>
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
            <label class="control-label" for="inputTitulo">Título</label>
            <input class="form-control" disabled="" id="inputTitulo" type="text" value="<%= @task.title %>"></input>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="inputProjeto">Projeto</label>
            <input class="form-control" disabled="" id="inputProjeto" type="text" value="<%= @task.project %>"></input>
          </div>
          <br>
          <div class="col-md-12">
            <label class="control-label" for="inputDescricao">Descrição</label>
            <textarea class="form-control" disabled="" id="inputDescricao" type="text"><%= @task.description %></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <br>
  </div>
</div>
