<div class="container">
  <div class="row">

    <!-- <p id="notice"><%= notice %></p> -->

    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <h5 class="col-md-10">Projeto</h5>
            <div class="col-md-2">
              <%= link_to edit_project_path(@project), class: "btn btn-warning pull-right" do %>
              <b>Editar
                <i class="glyphicon glyphicon-edit"></i>
              </b>
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <input id="inputProjectID" type="hidden" value="<%= @project.id %>"></input>
          <div class="col-md-6">
            <label class="control-label" for="inputTitle">Título</label>
            <input class="form-control" disabled="" id="inputTitle" type="text" value="<%= @project.title %>"></input>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="inputCliente">Cliente</label>
            <input class="form-control" disabled="" id="inputCliente" type="text" value="<%= @project.client %>"></input>
          </div>
          <br>
          <div class="col-md-12">
            <label class="control-label" for="inputDescricao">Descrição</label>
            <textarea class="form-control" disabled="" id="inputDescricao" type="text"><%= @project.description %></textarea>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <h5 class="col-md-8">Equipe</h5>
            <div class="col-md-3">
              <select class="form-control pull-left" id="select-usuarios" name="">
                <option value="0">Selecione</option>
                <%= options_for_select(User.all.collect {|p| [ p.email, p.id ] }, {include_blank: 'Selecione'}) %>
              </select>
            </div>
            <a class="btn btn-primary pull-left" id="btn-add-user">Adicionar</a>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Usuário</th>
              <th class="col-md-2"></th>
            </tr>
          </thead>
          <tbody>
            <% Team.where(project_id: @project.id).each do |team| %>
            <tr>
              <td><%= team.user %></td>
              <td><%= link_to team, method: :delete, data: { confirm: 'Confirma exclusão ?' }, class: "btn btn-info pull-right" do %>
                <i class="glyphicon glyphicon-trash"></i><% end %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <h5 class="col-md-12">Tarefas</h5>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Título</th>
              <th class="col-md-2"></th>
            </tr>
          </thead>
          <tbody>
            <% Task.where(project_id: @project.id).each do |task| %>
            <tr>
              <td><%= task.id %></td>
              <td><%= task.title %></td>
              <td>
                <div class="btn-group pull-right">
                  <%= link_to task, class: "btn btn-info" do %>
                  <i class="glyphicon glyphicon-eye-open"></i><% end %>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="clearfix"></div>
    <br>
  </div>
</div>

<script type="text/javascript">

  $('#btn-add-user')
    .click(function () {
      var selected = $("#select-usuarios option:selected").val();
      var project_id = $("#inputProjectID").val();

      if (selected == 0) {
        alert('Selecione um usuário para adicionar ao projeto.');
      } else {
        $
          .post("/teams.json", {
            team: {
              user_id: selected,
              project_id: project_id
            }
          }, function (data, status) {
            alert('Usuário inserido com sucesso!');
            location.reload();
          })
          .fail(function (error) {
            alert('Ops, ocorreu um erro e o usuário não pode ser inserido no projeto!');
          });
      }
    });
</script>
